{% extends 'base.html' %}
{% load static %}

{% block container %}



<div class="about-me">
    
        
        <div class="bio">
            <img src="{% static 'images/saviour.jpg' %}" alt="">
        </div>

    <div class="profile">
        <img src="{% static 'images/ins.jpg' %}" alt="Saviour Jeremiah" class="circle-img">
        <img src="{% static 'images/face.jpg' %}" alt="Saviour Jeremiah" class="circle-img">
        <img src="{% static 'images/in.jpg' %}" alt="Saviour Jeremiah" class="circle-img">

    </div>

</div>

{% endblock container %}
